        <td>100</td>
        <td><%= @school.rate_num("four year", "All Students", "All Students" ,"TOTAL") %> </td>
        <td>100</td>
        <td><%= @school.rate_num("five year", "All Students", "All Students" ,"TOTAL") %> </td>
        <td>100</td>
        <td><%= @school.rate_num("six year", "All Students", "All Students" ,"TOTAL") %> </td>
